* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* header section styles */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}

/* header title and text */
.header-text-title {
    color: #272727;
    font-size: 60px;
    font-weight: 900;
}

.text-button-container {
    width: 520px;
    padding-left: 120px;
}

.header-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}

/* shop now button */
.shop-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border-style: none;
}

/* Header red flower */

.header-flower {
    width: 80%;
    height: 80%;
    margin-top: 40px;
}

/* Featured Flower Text Section */

.featured-text-section {
    margin-top: 170px;
    margin-bottom: 45px;
}

.featured-text-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.featured-text-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 550px;
    margin: auto;
}

/* Featured Flower Section */

.featured-flower-containers {
    display: flex;
    margin-bottom: 125px;
    justify-content: space-around;
    padding: 0px 260px;
}

.left-flower {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 300px;
}

.middle-flower {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 300px;
}

.right-flower {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    margin-top: 5px;
}

.featured-flower-1 {
    width: 67%;
    margin-top: 115px;
    margin-left: 55px;
}

.featured-flower-2 {
    width: 72%;
    margin-top: 148px;
    margin-left: 50px;
    padding-bottom: 30px;
}

.featured-flower-3 {
    width: 60%;
    margin-top: 120px;
    margin-left: 60px;
}

.featured-flower-caption {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

.featured-container {
    margin-bottom: 120px;
}

/* Hot Deal Section */

.hot-deal-containers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px;
    margin-bottom: 100px;
}

.hot-deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-left: 50px;
}

.off {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px 30px 0px;
}

.signup {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border-style: none;
}

.signup-btn {
    margin-left: 190px;
}

.hot-deal-text-container {
    width: 500px;
    margin: auto;
}

.hot-deal-rose {
    width: 75%;
}

.hot-deal-image {
    margin-right: 150px;
}

/* Hot Deal Section Completed */

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.insta-image{
    margin-bottom: 100px;
}
.insta-flower-1{
    width: 18%;
    margin-left: 170px;
}
.insta-flower-2{
    width: 18%;
    margin: 0px 15px;
}
.insta-flower-3{
    width: 18%;
    margin: 0px 15px;
}
.insta-flower-4{
    width: 18%;
    margin-right: 110px;
}

/* Instagram section completed */

.deals-container{
    background-image: url('../image/Rectangle\ 9.png');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 78%;
    margin-left: 160px;
}
.deals-container-title{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    padding-top: 100px;
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.deals-container-caption{
    display: flex;
    justify-content: center;
    margin-right: 400px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
}
.subscribe{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border-style: none;
}
.email-field{
    padding: 17px;
    border-radius: 8px;
    border-style: none;
    margin-right: 10px;
}
.sub-btn{
    margin-left: 230px;
    margin-top: 40px;
}
/* Latest Deals section completed */

.bonus-section{
    text-align: center;
    margin-top: -200px;
    background-color: blanchedalmond;
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;
    margin-left: 350px;
    border-radius: 25px;
    box-shadow: 20px 20px 25px rgb(221, 221, 221);
}
.bonus-button{
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border-style: none;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.bonus-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}
.bonus-title{
    padding-top: 100px;
    color: #272727;
    font-size: 50px;
    font-weight: 600;
}
.promo{
    font-size: large;
    padding-top: 5px;
}